# 環境變數
x-common-env: &common-env
  DB_HOST: mysql-news-api
  DB_PORT: 3306
  DB_USER: root
  DB_PASS: root123
  DB_NAME: news_system
  REDIS_HOST: redis-news
  REDIS_PORT: 6379

services:
  # =======================================================
  # 1. 應用程式層：三個 Node.js 服務 (api1, api2, api3)
  # =======================================================
  api1:
    build: .
    container_name: node-news-api-1
    environment: *common-env
    networks:
      - mynet
    depends_on:
      - mysql-news-api
      - redis-news

  api2:
    build: .
    container_name: node-news-api-2
    environment: *common-env
    networks:
      - mynet
    depends_on:
      - mysql-news-api
      - redis-news
      
  api3:
    build: .
    container_name: node-news-api-3
    environment: *common-env
    networks:
      - mynet
    depends_on:
      - mysql-news-api
      - redis-news

  # =======================================================
  # 2. 負載平衡器 (Nginx)
  # =======================================================
  nginx-lb:
    image: nginx:latest
    container_name: nginx-lb
    ports:
      - "9000:8080"  # localhost:9000
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - mynet
    depends_on:
      - api1
      - api2
      - api3

  # =======================================================
  # 3. 資料庫 (MySQL)
  # =======================================================
  mysql-news-api:
    image: mysql:8.0
    container_name: mysql-news-api
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: news_system
    volumes:
      # 初始化資料表和數據
      - ./db_init:/docker-entrypoint-initdb.d
      # 持久化 volume
      - mysql_data:/var/lib/mysql
    networks:
      - mynet

  # =======================================================
  # 4. 快取 (Redis)
  # =======================================================
  redis-news:
    image: redis:7-alpine
    container_name: redis-news
    ports:
      - "6380:6379"  # 匹配你的 -p 6380:6379
    networks:
      - mynet
    # 持久化 volume
    volumes:
      - redis_data:/data


# =======================================================
# 5. 網路與資料卷 (Volumes & Networks)
# =======================================================
volumes:
  mysql_data:
  redis_data:

networks:
  mynet:
    name: mynet